# Git aliases
alias gb='git branch '                                                                                                                          
alias ga='git add '
alias gaa='git add -A'
alias gc='git commit -m '
alias gd='git diff '
alias gdc='git diff --cached '
alias gds='git diff --staged'
alias gsh='git show '
alias gps='git push '
alias gpsod='git push origin development'
alias gpsom='git push origin master'
alias gpl='git pull '
alias gm='git merge '
alias gs='git status '
alias gch='git checkout '
alias gcl='git clone '
alias gl='git log --oneline --decorate --graph --color --summary'
alias glp='git log -p '
alias gst='git stash'
alias gstp='git stash pop'
alias gstl='git stash list'
