# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.

if [ -f ~/.bash_aliases ]; then
	    . ~/.bash_aliases
	    fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
	  if [ -f /usr/share/bash-completion/bash_completion ]; then
		      . /usr/share/bash-completion/bash_completion
		        elif [ -f /etc/bash_completion ]; then
			    . /etc/bash_completion
			      fi
			      fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias lh='ls -lh'
alias l='ls -CF'

# Git aliases
alias gb='git branch '
alias ga='git add '
alias gaa='git add .'
alias gd='git diff '
alias gdc='git diff --cached '
alias gp='git push '
alias gi='git pull '
alias gc='git commit -m '
alias gca='git commit -am '
alias gm='git merge '
alias gs='git status '
alias gch='git checkout '
alias gcl='git clone '
alias sgcl='sudo git clone '
alias gl='git log --oneline --decorate --graph --color --summary'
alias glp='git log -p '
alias gsl='git stash list'
alias gcin='git branch -r --contains '
alias listremotes='cat .git/config'

# Python and Django aliases

alias djr='python manage.py runserver '
alias djs='python manage.py shell '

alias ids='python manage.py shell -i ipython'
alias bds='python manage.py shell -i bpython'

alias collect='python manage.py collectstatic --noinput'

alias pyserv='python -m SimpleHTTPServer '

alias ipp='ipython'
alias bpp='bpython'
alias p='python '

# System software management
alias update='sudo apt-get update'
alias upgrade='sudo apt-get upgrade'

# Process management
alias pgrep='ps ax | grep '
alias portkill='sudo fuser -n tcp -k ' #Kill process by port

# Directory ops
alias ..='cd ..'
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias d='cd ~/Documents'

alias rmd='sudo rm -rf ' #Recursively remove a dir and its subdirs
alias rm='sudo rm '
alias mdir='sudo mkdir '
alias chmod='sudo chmod '
alias chown='sudo chown '
alias touch='sudo touch '

# bashrc related
alias ebash='subl ~/.bashrc'
alias xbash='source ~/.bashrc'
alias bhclear='source ~/dbh.sh'
alias bhist='cat ~/.bash_history'
alias edalias='subl ~/.bash_aliases'


alias supstart='sudo service supervisor start'
alias supstop='sudo service supervisor stop'
alias supres='sudo service supervisor restart'


# Nginx
alias ngres='sudo service nginx restart'
alias ngerr='tail -n 100 /var/log/nginx/error.log'
alias ngaccess='tail -n 100 /var/log/nginx/access.log'



# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'


# Editor aliases
alias sedit='sudo subl '


# Log erase
alias clrlog='sudo truncate -s 0 '

# GET SIZE OF FILE/FOLDER
alias gso='du -b '

# ========================================WORK ALIASES - workon and open files ============================

alias ceetodo='cat /tmp/TODO'
alias editodo='sudo nano /tmp/TODO'



# LIST SSH REMOTES
alias listssh='cat ~/.ssh/config'



###### From https://github.com/mathiasbynens/dotfiles/blob/master/.aliases #######


# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"


# Get week number
alias week='date +%V'


# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'


# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"


# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

parse_git_branch() {
	   git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

PS1="\n\[\e[32;1m\](\[\e[37;1m\]\u\[\e[32;1m\])-(\[\e[37;1m\]\w\[\e[32;1m\])\$(parse_git_branch)\n (\!\[\e[32;1m\])-> \[\e[0m\]"
